
:root{
	--main-color:#2980b9;
	--secondary-color: #34495e;
	--third-color:#70a1ff;
	--fourth-color:#002e6e;
	--border-default:white;
	--text-default:white;
	--text-select:#bdc3c7;
	--background-color:rgb(30,30,30);
	--overlay-dark:rgba(50,100,150,0.95);
}



body {
	background-color: var(--background-color);
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	color:white;
}

main{
    position: absolute;
	top:100px;
	z-index: 9;
}

main > div{
	display: flex;
}

main > div > div:first-child,main > div > div:last-child{
	flex-grow: 1.5;
}

.poste{
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
	background-color: rgb(0,0,0,0.5);
	margin:2%;
	flex-direction: column;
	border-radius: 5px;
	border-top: 5px solid var(--main-color);
	transition: 0.5s;
}
.entete{
	border-radius: 5px;
	border-left: 5px solid var(--main-color);
	display: flex;
	display: inline-flex;
	background-color: rgb(0,0,0,0.8);
	margin:2% 5%;
	padding: 1%; 
	align-items: center;
	justify-content: center;
	flex-grow: 1;
}

.entete>img{
	display:flex;
	flex-grow: ;

}
.entete>p{
	display: flex;
	padding: 0px;
	font-size:400%; 
	align-items: center;
	justify-content: center;
	margin:20px;
	flex-grow: 1;
}

.poste>div:last-child>p{
	margin:20px;
	border-radius: 5px;
	border-left: 5px solid var(--main-color);
	padding:  0.25% 0.5%;
	background-color: rgb(0,0,0,0.8);
}

#postule{
	margin: 0 10%;
	display:flex;
	padding: 20px;
	background-color: blue;
	flex-grow: 1;
}

#postule:hover{
	
}

.main-slider{
	position: relative;
	flex:3;
	background-color: rgba(10,10,10,0.3);
	margin:20px;
	border:10px solid rgba(10,10,10,0.5);
	overflow: hidden;
}

.main-slider:hover{
	border:10px solid rgba(10,10,10,0.1);
}

.slides{
	z-index: 1;
	width:400%;
	height:100%;
}

.slider{
	float:left;
	width:calc(100%/4);
	height:100%;
	transform: translateX(0px);
	animation: 12s infinite ease slider-anim;
}

.slides+div{
	animation:none;
}
.main-slider > img{
	height:200px;
	width:200px;
}

.slider > img{
	width:100%;
	height:100%;
}

@keyframes slider-anim{
	0%{
		transform:translateX(0%);
	}
	12%{
		transform: translateX(0%);
	}
	24%{
		transform:translateX(-100%);
	}
	36%{
		transform:translateX(-100%);
	}
	48%{
		transform:translateX(-200%);
	}
	60%{
		transform:translateX(-200%);
	}
	72%{
		transform:translateX(-300%);
	}
	84%{
		transform:translateX(-300%);
	}
	96%{
		transform: translateX(0%);
	}
}