:root{
	--main-color:#2980b9;
	--secondary-color: #34495e;
	--third-color:#70a1ff;
	--fourth-color:#002e6e;
	--border-default:white;
	--text-default:white;
	--text-select:#bdc3c7;
	--overlay-dark:rgba(50,100,150,0.95);
	--background-color:rgb(30,30,30);
	--background-overlay:rgba(0,0,0,0.2);
	--hover-default:rgba(255,255,255,0.2);
}

body {
	background-color: var(--background-color);
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	color:white;
}

main{
	top:102px;
	z-index: 9;
}

main + div > div:first-child,main + div > div:last-child{
	flex-grow: 1.5;
}

.main-slider{
	position: relative;
	flex:3;
	background-color: rgba(10,10,10,0.3);
	height:calc(100vh - 102px);
	overflow: hidden;
	border-bottom: 10px solid var(--main-color);
}

.slides{
	z-index: 1;
	width:420vw;
	height:100%;
}

.slider{
	display: flex;
	float:left;
	width:calc(100%/4);
	height:100%;
	overflow: hidden;
	transform: translateX(0px);
	animation: 30s infinite ease slider-anim;
	font-family: Arial, Helvetica, sans-serif;
}

.slides+div{
	animation:none;
}

.slider > img{
	
	width:auto;
	min-width: 100%;
	height:100%;
	object-fit: cover;
}

.slider > div{
	position: absolute;
	display: flex;
	flex-direction: column;
	text-align: center;
	top:50%;
	transform: translateY(-50%);
	left:10%;
	right:65%;
	padding:30px;
	background-color: var(--background-overlay);
	border-radius: 4px;
	border-top:4px solid var(--main-color);
	cursor:default;
	transition: 1s;
}

.slider > div:hover{
	background-color: var(--hover-default);
}

.slider > div > p{
	border-radius: 4px;
	padding:10px;
	background-color: var(--background-overlay);
	border-left: 4px solid var(--main-color);
}

.slider > div > h1{
	padding:5px;
	margin:10px 20px;
	border-radius: 4px;
	background-color:var(--background-overlay);
}

.container{
	position: relative;
	display: flex;
	padding: 70px 0px;
	background-color: var(--background-overlay);
}

.container-produit{
	flex: 1;
	margin:0px 4%;
	background-color:rgba(0,0,0,0.5);
	border-top: 5px solid var(--third-color);
	border-radius: 4px;
	transition:0.5s;
}

.container-produit:hover{
	border-top: 5px solid var(--fourth-color);
}

.container-produit > *{
	box-sizing: border-box;
	border-radius: 4px;
	margin:10px;
}

.container-produit > div:first-child{
	position: relative;
	display: flex;
	flex-direction: column;
	top:0px;
	bottom: 0px;
	padding:5%;
	width:calc(100% - 20px);
	height:70%;
	background: var(--background-overlay);
	border:8px solid var(--background-overlay);
	overflow: hidden;
	transition: 0.5s;
}

.container-produit > div:last-child{
	position: relative;
	display:flex;
	align-items: center;
	justify-content: center;
	background-color:var(--main-color);
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	height:calc(30% - 40px);
}

.container-produit > div:last-child > span{
	font-size:30px;
	font-family:Arial, Helvetica, sans-serif;
	z-index:8;
	text-align:center;
}

.container-produit > div > img{
	display: block;
	padding:20px;
	max-width: calc(100% - 40px);
	max-height: calc(100% - 40px);
	height:auto;
	width:auto;
	margin:auto;
	object-fit: contain;
}

.container-produit:hover > div:first-child{
	padding:0px;
}

.container-produit:hover > div:last-child > div{
	position: absolute;
	height:100%;
	width:0%;
	left:0px;
	background-color:var(--fourth-color);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	z-index:5;
	animation:0.5s 1 ease hover-slider-container;
	animation-fill-mode: forwards;
	transition:0.3s;
}

.container-espace-commentaire{
	border-top:5px solid blue;
	background-color:var(--background-overlay);
	width:100%;
	height:500px;
	margin: 0px 4%;
	padding:20px;
	border-radius:4px;
}

.container-commentaire{
	border-left: 4px solid blue;
	background-color:var(--background-overlay);
	padding:10px;
}

.container-commentaire > h3{
	border-radius:4px;
	border-left:4px solid blue;
	margin:0px 50px;
	padding:20px;
	background-color:rgba(255,255,255,0.1);
}

.container-commentaire > p{
	margin:5px 20px;
	padding:5px 10px 20px 5px;
}

@keyframes slider-anim{
	0%{
		transform:translateX(-5%);
	}
	20%{
		transform: translateX(0%);
	}
	25%{
		transform:translateX(-105%);
	}
	45%{
		transform:translateX(-100%);
	}
	50%{
		transform:translateX(-205%);
	}
	70%{
		transform:translateX(-200%);
	}
	75%{
		transform:translateX(-305%);
	}
	95%{
		transform:translateX(-300%);
	}
	100%{
		transform:translateX(-5%);
	}
}

@keyframes hover-slider-container{
	0%{
		width:0%;
	}
	100%{
		width:100%;
	}
}

@media(max-width: 1410px)
{

}

@media(max-width: 1200px)
{
	
}

@media(max-width: 992px)
{

}

@media(max-width: 768px)
{

}

@media(max-width:480px)
{
	
}