:root{
	--main-color:#2980b9;
	--secondary-color: #34495e;
	--third-color:#70a1ff;
	--fourth-color:#002e6e;
	--border-default:white;
	--text-default:white;
	--text-select:#bdc3c7;
	--background-color:rgb(30,30,30);
	--overlay-dark:rgba(50,100,150,0.95);
}

body{
    background: #333;
}

main{
	height: 100vh;
	width: 100vw;
	display: flex;
    align-items:center;
    justify-content: center;
	font-family: consolas;
}

.presse{
    display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.presse .carte
{
    position: relative;
	cursor: pointer;
	margin: 10px;
}

.presse .carte .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.presse .carte .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.presse .carte:hover .face.face1{
    background:var(--main-color);
    transform: translateY(0);
}

.presse .carte .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
}

.presse .carte:hover .face.face1 .content{
    opacity: 1;
}

.presse .carte .face.face1 .content img{
    max-width: 100px;
}

.presse .carte .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.presse .carte .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.presse .carte:hover .face.face2{
    transform: translateY(0);
}

.presse .carte .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.presse .carte .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.presse .carte .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}

@media (max-width:700px) {


    main{
        align-items:normal;
    }

	.presse .carte .face.face1{
		background: var(--main-color);
		transform: translateY(0);
	}

	.presse .carte .face.face1 .content{
		opacity: 1;
	}
	
	.presse .carte .face.face2{
		transform: translateY(0);
	}

	.presse .carte .face.face2 .content a{
		background: #333;
		color: #fff;
	}

}