.milieu{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 10px;
	width: 100%;
	align-items: center;
	justify-content: flex-end;
	padding: 10px;
}

.menu{
	position: relative;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.menu a {
	text-decoration: none;
	color: white;
	text-align: center;
	align-items: center;
	width: 120px;
	padding: 7px;
	margin: 10px;
	border: 10px;
	transition: 0.2s linear;
}

.menu>a:hover{
	background-color: #2980b9;
	border-radius: 40px;
	padding: 7px;
}

body {
	background-color: #3498db;
	padding: 0;
	margin: 0;
}

a{
	outline-style: none; 
}

nav {
	font-family: "Montserrat", sans-serif;
	background-color: #34495e;
	height: 65px;
	display:flex;
}

.s{
	margin: 20px;
	width: 25%;
	display:none;
}

.recherche {
	display: inline-block;
	background-color: white;
	height: 30px;
	width: 30px;
	border-radius: 100%;
	box-shadow: 0 5px 15px -5px #00000070;
	text-align: center;
	line-height: 30px;
	vertical-align: middle;
	color: #2980b9;
	margin-right:20px; 
}

.but {
	text-align: center;
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: #f1f1f1;
	margin: 5px;
	border-radius: 100%;
	box-shadow: 0 5px 15px -5px #00000070;
	color: #2980b9;
}

.but i {
	line-height: 50px;
	font-size: 24px;
	transition: 0.2s linear;
}

.but:hover>i {
	transform: scale(1.2);
}

.welcome {
	font-family: "Impact",fantasy;
	background-color: white;
	text-align: center;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 60px;
}


.image {
	border-style: dashed solid;
}